.body {
  font-family: "Monrserrat", sans-serif;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  box-sizing: border-box;
  background-color: $base-white;
}

.body__main {
  flex-grow: 1;
}

.body__footer {
  flex-shrink: 0;
}
