.catalog {
  background-color: $lightest-gray;
}

.catalog__layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 50px 20px 44px;
  max-width: $desktop-width;

  @media (min-width: $tablet-width) {
    padding: 80px 20px 90px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 318px 1fr;
    gap: 0 30px;
    padding: 104px 40px 120px;
  }
}

.catalog__title {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  margin-top: 6px;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 64px;
    margin-top: 4px;
    padding-right: 16px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/-1;
    grid-row: 2/3;
  }
}
.catalog__badge {
  order: -1;
  text-align: center;

  @media (min-width: $desktop-width) {
    grid-column: 1/-1;
    grid-row: 1/2;
  }
}

.catalog__filter {
  margin-top: 20px;

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 3/5;
    align-self: start;
    margin-top: 44px;
    gap: 24px;
  }
}

.catalog__sort {
  margin-top: 38px;
  align-self: center;
  justify-self: center;

  @media (min-width: $tablet-width) {
    margin-top: 42px;
    justify-self: flex-end;
    align-self: flex-end;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/-1;
    grid-row: 3/4;
    margin-top: 38px;
  }
}

.catalog__goods {
  margin-top: 16px;

  @media (min-width: $tablet-width) {
    margin-top: 28px;
  }
}

.catalog__pagination {
  width: 280px;
  margin-top: 40px;

  @media (min-width: $tablet-width) {
    min-width: 396px;
    margin-top: 70px;
    align-self: end;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    margin-top: 60px;
    justify-self: end;
  }
}
