.filter {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 220px 210px 200px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    }
}
