.filter {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 220px 210px 200px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    }
}

.filter__title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.filter__buttons {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    flex-direction: row;
    justify-self: center;
  }
}

.filter__button {
  width: 160px;
  padding: 10px 14px;

  @media (min-width: $tablet-width) {
    width: 148px;
    padding: 8px 6px;
  }
}

.filter__button--reset {
  color: $primary-lighter;
  background-color: $base-white;
}
