.main-nav {
  position: relative;
  display: flex;

}

.main-nav__pages-list {
  position: absolute;
  display: none;

  @media (min-width: $tablet-width) {
    position: relative;
    display: flex;
  }
}

.main-nav__user-list {
  display: flex;

}
