.main-nav {
  position: relative;
  display: flex;

}

.main-nav__pages-list {
  position: absolute;
  display: none;

  @media (min-width: $tablet-width) {
    position: relative;
    display: flex;
  }
}

.main-nav__user-list {
  display: flex;
  align-items: center;
}

.main-nav__user-link {
  padding: 22px;
}

.main-nav__link-text {
  display: none;
}

.main-nav__link-image {
  fill: $base-black;
}
