.social {
  display: flex;
  justify-content: space-between;
  padding-bottom: 22px;

  @media (min-width: $desktop-width) {
    flex-direction: column;
    gap: 60px;
  }
}

.social__media-list {
  padding-left: 10px;
}
